<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
     
        <title>
            status page
        </title>
    </head>
    <body style="margin: 0;background-color: khaki;"><br><br>
        <div align="center">
        
        <h1>
            {{ sta }}
        </h1>
        <h2>
          reference number :    {{session.status}},
          complaint status :    {{session.refno}}
          
            </h2>
            <h2 align = "center">
            
        </h2>
        </div>
    </body>
    <footer align ='bottom'>
        Copyright 2020 reserved to uday chowdary adusumilli.legal action will be taken if you use the code with out permission.
    </footer>
</html>